<ion-view view-title="About">
   <ion-content class="post-content" padding="10">
   	<p>
   	In this often busy world, one needs to take a lot of efforts to stay in touch with what's happening  in the startup and business world, mostly as mainstream media ignores most of it and only blogs end up covering most of what happens under the surface, and they do a fine job of it, we here at TheStartupToday (TST) are aiming to provide those news, curated and categorised for your convenience and all in a single minute read format, just 100 words of crisp content with a read more link to the main article.
   	</p>
   </ion-content>
</ion-view>