<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thestartuptoday.news" versionCode="1" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>TheStartupToday</name>
	<description>
		This app delivers tiny startup news.
	</description>

	<author email="ascian.india@gmail.com" href="https://www.ascian.in">
	   Ascian
	</author>

	<preference name="phonegap-version" value="cli-6.3.0" />

	<plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-inappbrowser" />    
    <plugin name="cordova-plugin-splashscreen" />    
    <plugin name="cordova-plugin-admobpro" />    
	<plugin name="cordova-plugin-email-composer" version="0.8.3" />
	<plugin name="cordova-plugin-x-socialsharing" />
	<plugin name="cordova-plugin-pushplugin" />
	<!-- <plugin name="phonegap-plugin-push">
		<param name="SENDER_ID" value="855184226097" />
	</plugin> -->
	
	<plugin name="cordova-plugin-x-toast"/>
	<plugin name="cordova-plugin-dialogs"/>
	<plugin name="com.darktalker.cordova.screenshot" />
	
	<plugin name="cordova-plugin-google-analytics" />
	<gap:plugin name="cordova-plugin-facebook4" source="npm" spec="1.7.3">
        <param name="APP_ID" value="1337945322918628" />
        <param name="APP_NAME" value="TheStartupToday" />
    </gap:plugin>
	
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
	<preference name="orientation" value="portrait" />
	
	<platform name="android">
		<icon src="splash.png" />
		<icon src="img/icons/mdpi.png" qualifier="mdpi" />
		<icon src="img/icons/hdpi.png" qualifier="hdpi" />
		<icon src="img/icons/xhdpi.png" qualifier="xhdpi" />
		<icon src="img/icons/xxhdpi.png" qualifier="xxhdpi" />
		<icon src="img/icons/xxxhdpi.png" qualifier="xxxhdpi" />
		
		<splash src="splash.png" />
		<splash src="img/splash/ldpi.png"  qualifier="ldpi" />
		<splash src="img/splash/mdpi.png"  qualifier="mdpi" />
		<splash src="img/splash/hdpi.png"  qualifier="hdpi" />
		<splash src="img/splash/xhdpi.png"  qualifier="xhdpi" />
		<splash src="img/splash/xxhdpi.png"  qualifier="xxhdpi" />
		<splash src="img/splash/xxxhdpi.png"  qualifier="xxxhdpi" />
	</platform>
	
	<access origin="*"/>
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="fb:*" />
    <allow-intent href="whatsapp:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	
</widget>
